:root {
  --accent: #ff0000;
  --dark-accent: #9c2c2c;
  --light-gray: #4a4444;
  --medium-gray: #262525;
  --dark-gray: #1a1a1a;
  --white: #fff;
  --off-white: #dedede;
  --playlist-box: #303030;
  --disabled: rgb(101, 96, 96);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--off-white);
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--dark-gray);
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

button {
  border: none;
  outline: none;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 1.2rem;
  background-color: var(--light-gray);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  color: var(--white);
  background-color: var(--accent);
}

.success-btn {
  background-color: var(--dark-accent);
}

.initial-btn {
  background-color: var(--light-gray);
  color: var(--white);
  cursor: pointer;
}

#fetch-videos {
  width: auto;
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 20px;
  border-radius: 12px;
  font-size: 1.2rem;
  background-color: var(--light-gray);
  text-align: left;
}

/* nav */
/* nav */
/* nav */

nav {
  padding: 0 15px;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: end;
}

#logo {
  padding: 0 10px;
  width: 50px;
}

span {
  color: var(--accent);
}

/* main */
/* main */
/* main */

main {
  width: 100vw;
  min-height: 90vh;
  height: auto;
}

.main-container {
  background-color: var(--medium-gray);
  height: 100%;
  padding: 20px 5vw;
}

.main-header {
  text-align: center;
  margin-bottom: 15px;
}

.main-header p {
  font-size: 1.3rem;
  margin: 0 20px;
}

.error-message-container {
  background-color: var(--dark-accent);
  border-radius: 5px;
  border: 1px solid #d14748;
  text-align: center;
  height: 30px;
  margin-top: 10px;
}

.error-message-container p {
  color: #d06969;
  font-size: 1rem;
}

.main-form {
  display: flex;
  justify-content: center;
}

.main-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.form-choice-btns,
.form-url-input {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.form-choice-btns {
  margin-top: 10px;
}

.form-url-input {
  gap: 8px;
  flex-direction: column;
}

.form-url-input input {
  height: 60px;
}

.form-url-input button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-choice-btns button {
  padding: 15px 52px;
  font-size: 1rem;
}

.main-playlist-box {
  height: 100%;
  border-radius: 20px;
  padding: 3px;
  margin: 25px 0 0 0;
}

.main-playlist-content {
  border-radius: 20px;
  background-color: var(--playlist-box);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.playlist-image {
  background-color: var(--dark-gray);
  width: auto;
  height: 210px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-section {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist-section form {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

/* source check radio button */
/* source check radio button */
/* source check radio button */

.switch {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  background: var(--light-gray);
  background: linear-gradient(90deg, var(--accent) 0%, var(--light-gray) 70%);
  transition: all 0.2s ease;
  border-radius: 10px;
}

.switch span {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./music-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  transition: all 0.2s ease;
}

input[type="radio"] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: var(--dark-gray);
  width: 80px;
  line-height: 50px;
  transition: all 0.3s ease-in;
}

.switch label:hover {
  color: var(--dark-accent);
}

label[for="music"] {
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for="video"] {
  position: absolute;
  right: 0px;
}

#video:checked ~ .switch {
  background: linear-gradient(-90deg, var(--accent) 0%, var(--light-gray) 70%);
}

#video:checked ~ .switch span {
  background-image: url("./video-icon.png");
}

#music:checked ~ .switch label[for="music"] {
  color: var(--white);
}

#video:checked ~ .switch label[for="video"] {
  color: var(--white);
}

/* loader */
/* loader */
/* loader */

.downloading-animation {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      transparent,
      transparent 50%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 60%,
      rgba(255, 0, 0, 0.455),
      rgb(255, 0, 0)
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;

  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* .main-playlist-content:hover {
  animation-play-state: paused;
} */

/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */
/* rwd */

@media only screen and (min-width: 450px) {
  .main-container {
    padding: 25px 8vw;
  }
}

@media only screen and (min-width: 600px) {
  .main-container {
    padding: 25px 10vw;
  }

  h1 {
    font-size: 3rem;
  }

  .main-playlist-content {
    padding: 15px 80px;
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3.6rem;
  }

  nav {
    padding: 0 50px;
  }

  .main-header p {
    font-size: 1.4rem;
    margin: 0;
  }

  main {
    height: 90vh;
    padding: 0 50px 50px 50px;
  }

  .main-container {
    border-radius: 30px;
    padding: 35px 4vw;
  }

  .error-message-container {
    margin: 10px 50px 0 50px;
  }

  .error-message-container p {
    font-size: 1rem;
  }

  .main-form form {
    padding: 0 50px;
  }

  .form-choice-btns,
  .form-url-input {
    flex-direction: row;
  }

  .form-url-input input {
    height: auto;
  }

  .form-url-input button {
    height: auto;
  }

  .main-playlist-box {
    margin: 25px 47px 0 47px;
  }

  .main-playlist-content {
    flex-direction: row;
    gap: 30px;
    padding: 10px;
  }

  .playlist-image {
    width: 210px;
  }

  .form-choice-btns {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4.6rem;
  }

  .main-container {
    padding: 35px 10vw;
  }

  button {
    padding: 20px 60px;
  }

  .main-playlist-content {
    padding: 15px;
  }
}

@media only screen and (min-width: 1180px) {
  .playlist-image {
    width: 360px;
  }
}

@media only screen and (min-width: 1240px) {
  h1 {
    font-size: 6rem;
  }
}
