:root {
  --accent: #ff0000;
  --dark-accent: #d30000;
  --light-gray: #4a4444;
  --medium-gray: #262525;
  --dark-gray: #1a1a1a;
  --white: #fff;
  --off-white: #dedede;
  --playlist-box: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--off-white);
}

body {
  background-color: var(--dark-gray);
}

h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

button {
  border: none;
  outline: none;
  padding: 20px 60px;
  border-radius: 12px;
  font-size: 1.2rem;
  background-color: var(--light-gray);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--white);
  background-color: var(--accent);
}

input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 20px;
  border-radius: 12px;
  font-size: 1.2rem;
  background-color: var(--light-gray);
  text-align: left;
}

nav {
  padding: 0 50px;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: end;
}

#logo {
  padding: 0 10px;
  width: 50px;
}

span {
  color: var(--accent);
}

main {
  width: 100vw;
  height: 90vh;
  padding: 0 50px 50px 50px;
}

.main-container {
  border-radius: 30px;
  background-color: var(--medium-gray);
  height: 100%;
  padding: 35px 10vw;
}

.main-header {
  text-align: center;
  margin-bottom: 35px;
}

.main-header p {
  font-size: 1.6rem;
}

.main-form {
  display: flex;
  justify-content: center;
}

.main-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 0 50px;
}

.form-choice-btns,
.form-url-input {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.form-choice-btns button {
  padding: 15px 52px;
  font-size: 1rem;
}

.main-playlist-box {
  margin-top: 25px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 0 50px;
}

.main-playlist-content {
  border-radius: 20px;
  background-color: var(--playlist-box);
  display: flex;
  gap: 30px;
  padding: 20px;
}

.playlist-image {
  background-color: var(--dark-gray);
  width: 210px;
  height: 210px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-section {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist-section form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */
/* fsdjfaljdsfk */

.switch {
  position: relative;
  width: 300px;
  height: 50px;
  text-align: center;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 15px;
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}

input[type="radio"] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 80px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for="music"] {
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for="video"] {
  position: absolute;
  right: 0px;
}

#video:checked ~ .switch {
  background: #eb4f37;
}

#video:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}

#video:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#music:checked ~ .switch label[for="music"] {
  color: #fff;
}

#video:checked ~ .switch label[for="video"] {
  color: #fff;
}
