<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <p>Hello, {{name}}</p>
    </div>

    <main>
      {% block content %}
      <h1>Welcome to {{ name }}'s video section</h1>
      {% endblock %}
    </main>
    <div>
      <form action="/download" method="post">
        <label for="playlist_url">Enter Playlist URL:</label>
        <input type="text" id="playlist_url" name="playlist_url" required />
        <div>
          <input
            type="radio"
            id="music_check"
            name="source_check"
            value="music"
            checked
          />
          <label for="music">music</label>
        </div>
        <div>
          <input
            type="radio"
            id="video_check"
            name="source_check"
            value="video"
          />
          <label for="video">video</label>
        </div>
        <button type="submit">Download Playlist</button>
      </form>
    </div>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
