<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeLoad</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.png" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <img id="logo" src="../static/logo.png" alt="logo" />
        <h2>WeLoad</h2>
      </div>
    </nav>

    <main>
      <div class="main-container">
        <div class="main-content">
          <div class="main-header">
            <h1><span>YT Playlist</span> Downloader</h1>
            <p>
              For the downloader to work your playlist <span>can't</span> be
              private
            </p>
            <div class="error-message-container">
              <p id="error-mess"></p>
            </div>
          </div>
          <div class="main-form">
            <form action="/load" method="post">
              <div class="form-url-input">
                <input
                  type="text"
                  placeholder="Video url..."
                  id="playlist_url"
                  name="playlist_url"
                  required
                />
                <button class="btn-normal fetch-videos" type="submit">
                  LOAD
                </button>
              </div>
            </form>
          </div>
          <div class="main-playlist-box">
            <div class="main-playlist-content">
              <div class="playlist-image"></div>
              <div class="playlist-section">
                <div class="playlist-info">
                  <p>Playlist title:</p>
                  <p>Total videos:</p>
                </div>
                <form action="/download" method="post">
                  <div class="form-choice-btns">
                    <input
                      type="radio"
                      name="source_check"
                      id="music"
                      value="music"
                      checked
                    />
                    <input
                      type="radio"
                      name="source_check"
                      id="video"
                      value="video"
                    />
                    <div class="switch">
                      <label for="music">MUSIC</label>
                      <label for="video">VIDEO</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="playlist-download">
                    <button class="btn-disabled" id="download-btn">
                      DOWNLOAD PLAYLIST
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>
